$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);
$color-neutral: hsl(0, 6%, 24%);

$color-gradient-background: linear-gradient
  (135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
$color-gradient-button: linear-gradient
  (135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
